body {
    margin: 0;
}

/* 
dark background color #1F2937
hero main text = 48px extra bold #F9FAF8
hero secondary text = 18px #E5E7EB
header logo = 24px #F9FAF8

Button color = 3882F6
information text = 36px extra bold #1F2937

quote section = #E5E7EB
quote text = 36px light italic #1F2937
*/

/* div {
    border: 1px solid black;
} */

.hero {
    background-color: #1F2937;
    padding: 3rem 10rem 6rem;
}

.navbar{
    background-color: #1F2937;
    padding: 2rem 10rem;
}

.header {
    display: flex;
}

.head {
    color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    justify-content: flex-start;
    flex: 4;
    font-size: 24px;
}

.herocontent {
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.placeholder {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    color: #F9FAF8;
    border-radius: .5rem;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
    margin-bottom: 1rem;
    margin-top: 0;
}

.herobutton {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    height: 2.5rem;
    width: 8rem;
    border: 0;
    border-radius: 0.5rem;
}
.subheading {
    width: 80%;
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.infocontent { 
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 15rem 8rem;
    justify-content: space-between;
    gap: 3rem;
}

.someinfo {
    flex: 1;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 18px;
    color: slategray;
}

.bluebox {
    height: 10rem;
    width: 10rem;
    border: 4px solid #3882F6;
    border-radius: 1rem;
}

.quote {
    display: flex;
    flex: 1;
    padding: 5rem 15rem;
    background-color: #E5E7EB;
}

.quotecontent{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    padding: 0 6rem;
}

.quoteelement {
    flex: 2;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

.signup {
    display: flex;
    padding: 6rem 12rem;
}

.signupcontent {
    flex: 1;
    display: flex;
    background-color: #3882F6;
    border-radius: .5rem;
    align-items: center;
    padding: 3rem 10rem;
    
}

.calltoaction {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action {
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.signuptext {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.calltoactionbutton {
    flex: .5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signupbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    height: 2.5rem;
    width: 8rem;
    border: 2px solid #F9FAF8;
    border-radius: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
